/* general */
   * {
      box-sizing: border-box;
   }

   html {
      font-size: 62.5%;
   }

   body {
      font-family: Helvetica, Arial, sans-serif;
      font-size: 1.6rem;
      background: #FCFDFD;;
   }

   .container {
      position: relative;
      max-width: 60rem;
      margin: 0 auto;
      padding: 0 1.6rem;
   }

   input, textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
   }

   textarea {
      height: 200px;
      margin-bottom: 0;
   }

   button {
      position: absolute;
      right: 17px;
      bottom: 0;

      background-color: #4CAF50;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
   }

   button:hover {
      background-color: #45a049;
   }

   .footer__message {
      padding-bottom: 50px;
   }